<div class="row">
	<div class="col">
		<h2>Sticker {{userService.stickerIndex + 1}} of 6</h2>
	</div>
	<div class="col">
		<a role="button" class="btn btn-primary"(click)="resetUser()">reset</a>
	</div>
</div>
<form #surveyForm="ngForm" (ngSubmit)="nextSticker(surveyForm)">
	<div class="row">
		<div class="col">
			<app-sticker [condition]=userService.currentSticker></app-sticker>
		</div>
		<div class="col">
			<app-likert low="AAAAA" high="BBBBB" name="atob" [valid]="atob_valid" [points]=7 [(selected)]="atob"></app-likert>
		</div>
	</div>
	<div class="row">
		<button type="submit" class="btn btn-primary">Next</button>
	</div>
</form>