<div class="row">
	<div class="col-4">
		<h2>Sticker {{userService.stickerIndex + 1}} of 6</h2>
	</div>
	<div class="col-8">
	</div>
</div>
<form #surveyForm="ngForm" (ngSubmit)="nextSticker(surveyForm)">
	<div class="row">
		<div class="col-4">
			<app-sticker [condition]=userService.currentSticker></app-sticker>
				<p *ngIf="dev">
					{{userService.currentSticker.presentation}}
					{{userService.currentSticker.relevance}}
					{{userService.currentSticker.context}}
					{{userService.currentSticker.scenario}}
					{{userService.currentSticker.style}}
					{{userService.currentSticker.domain}}
					{{userService.currentSticker.role}}
				</p>
		</div>
		<div class="col-8">
			<app-sharer-likerts #sharerLikerts *ngIf="this.userService.role == 'sharer'"></app-sharer-likerts>
			<app-recipient-likerts #recipientLikerts *ngIf="this.userService.role == 'recipient'"></app-recipient-likerts>
		</div>
	</div>
	<div class="row">
		<div class="col-4" *ngIf="dev">
			<button class="btn btn-warning" (click)="resetUser()">Reset</button>
		</div>
		<div class="col-8" *ngIf="showResetButton()">
			<button type="submit" class="btn btn-primary">Next</button>
		</div>
	</div>
</form>