<app-likert #fun_ENT label="I would find this Snap fun to send." name="fun_ENT" [(selected)]=scales.fun_ENT></app-likert>
<app-likert #good_ATT label="I would feel good about sending this Snap." name="good_ATT" [(selected)]=scales.good_ATT></app-likert>
<app-likert #benefits_PRIV label="I think my benefits I would gain from sending this Snap would offset the risks of my information disclosure." name="benefits_PRIV" [(selected)]=scales.benefits_PRIV></app-likert>
<app-likert #exciting_ENT label="I would find this Snap exciting to send." name="exciting_ENT" [(selected)]=scales.exciting_ENT></app-likert>
<app-likert #inclined_USE label="I am inclined to send this Snap." name="inclined_USE" [(selected)]=scales.inclined_USE></app-likert>
<app-likert #value_PRIV label="The value I would gain from sending this Snap is worth the information I would give away." name="value_PRIV" [(selected)]=scales.value_PRIV></app-likert>
<app-likert #might_USE label="I might send this Snap." name="might_USE" [(selected)]=scales.might_USE></app-likert>
<app-likert #positive_ATT label="I would feel positive about sending this Snap." name="positive_ATT" [(selected)]=scales.positive_ATT></app-likert>
<div class="form-group">
	<label for="reactionTextArea">How would you feel about sharing this Snap? <small>(min {{minCharacters}} characters)</small></label>
	<textarea class="form-control" [ngClass]=reactionValid id="reactionTextArea" [(ngModel)]=scales.reaction rows="3"></textarea>
</div>