<p>
  recipient-likerts works!
</p>
<app-likert #fun_ENT label="I find this Snap fun to recieve." name="fun_ENT" [(selected)]=scales.fun_ENT></app-likert>
<app-likert #exciting_ENT label="I find this Snap exciting to receive." name="exciting_ENT" [(selected)]=scales.exciting_ENT></app-likert>
<app-likert #learn_INF label="I learn a lot about my close friend or family member from this Snap." name="learn_INF" [(selected)]=scales.learn_INF></app-likert>
<app-likert #helpful_INF label="I think the information obtained about my close friend or family member from this Snap is helpful." name="helpful_INF" [(selected)]=scales.helpful_INF></app-likert>
<app-likert #inclined_USE label="I am inclined to respond to this Snap." name="inclined_USE" [(selected)]=scales.inclined_USE></app-likert>
<app-likert #might_USE label="I might respond to this Snap." name="might_USE" [(selected)]=scales.might_USE></app-likert>
<app-likert #good_ATT label="I feel good about responding to this Snap." name="good_ATT" [(selected)]=scales.good_ATT></app-likert>
<app-likert #positive_ATT label="I feel positive about responding to this Snap." name="positive_ATT" [(selected)]=scales.positive_ATT></app-likert>