<p>
  Consent instructions...
</p>
<form #selectForm="ngForm" (ngSubmit)="onSubmit(selectForm)">
  <div class="form-group">
    <label for="domain">Pick a data domain</label>
    <select class="form-control" [ngClass]="domain_valid === true ? 'is-valid' : (domain_valid === false) ? 'is-invalid' : ''" id="domain" name="domain" [(ngModel)]="domain" required>
    	<option *ngFor="let d of domains" [ngValue]="d">{{d}}</option>
    </select>
    <label for="role">Pick a role</label>
    <select class="form-control" [ngClass]="role_valid === true ? 'is-valid' : (role_valid === false) ? 'is-invalid' : ''" id="role" name="role" [(ngModel)]="role" required>
    	<option *ngFor="let r of roles" [ngValue]="r">{{r}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Start the survey</button>
</form>